
.container{
	height: 732px;
	width: 980px;
	max-width:980px;
}

body {
	 margin-top: 50px;

    margin-bottom: 50px;

    background: none;

}


.fool {

  background: url("../images/dragon.jpeg") no-repeat center center fixed;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

}

#dragonPick{
	float: left;
	color: white;
	border: inset;
	border-width: 3px;
	border-color: tan;
	height: 128px;
	width:100px;
	margin-top:60px;
	margin-left: 65px;
}

#playerSum{
	clear: both;
	color:white;
	margin-top:-420px;
	margin-left: 65px;
	border: inset;
	border-width: 3px;
	border-color: tan;
	height: 128px;
	width:100px;
	}


#score{	
	clear: both;
	float: left;
	color:white;
	margin-top:60px;
	margin-left: 65px;
	border: inset;
	border-width: 3px;
	border-color: tan;
	height: 128px;
	width:100px;}

.btn-group{
	margin-left: 95px;
	margin-top: 305px;
	padding-bottom: 10px;
	opacity: 0.9;
}

#redGem{
	transition: background-color 0.6s ease;
	background-color: transparent;
	border:none;
}

.hvr-grow {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
 transform: scale(1.1);
}

#rules{
	color: white;
}

#redGem:hover{
	background-color:#f5d9dd;
	opacity: 8.0;
	border-color: green;
}
#redGem:focus:{}

#blueGem {
	clear:left;
	transition: background-color 0.6s ease;
    background-color: transparent;
	border: none;
}

#blueGem:hover{
	background-color: skyblue;
	border-color: green;
	opacity: 1.0;
}

#greenGem {
	transition: background-color 0.8s ease;
	background-color: transparent;
	border: none;
}
#greenGem:hover{
	background-color: lightgreen;

	border-color: green;
}

#rubyGem {
	transition: background-color 0.8s ease;
	background-color: transparent;
	border: none;
}
#rubyGem:hover{
	background-color: #710;
	opacity: 1.0;
	border-color: green;
}

#valueRed { 
	color: #e0ebce; 

} 

#valueBlue { 
	color: #e0ebce; 
}

#valueGreen { 
	color: #e0ebce; 
}

#valueRuby { 
	color: #e0ebce; 
}